<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" >
    <title>QR Code Generator</title>
</head>
<body>
    <form method="POST" action="/">
        {% csrf_token %}
        Text To Encode <input type="text" name="input_qr_string">
        <input type="submit" value="Create">
    </form> 
</body>
</html>